@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
		--theme-bg: "#111111";
		--theme-text: "#999999";
        --theme-highlight: "#E4E4E4";
        --theme-title: "#FFFFFF";
		--theme-accent: "#FFFFFF";
	}

    html {
		@apply h-full border-t-2 border-textColor scroll-smooth;
	}
    
    html body {
        @apply h-full max-w-[85%] md:max-w-[75%] lg:max-w-[70%] xl:max-w-[58%] mx-auto pt-11 font-mono font-normal antialiased text-sm flex flex-col text-textColor bg-bgColor; /*  px-8  max-w-[60%] */
    }
}

@font-face {
	font-family: "MonoLisa";
	font-weight: 400;
	src: url("../fonts/MonoLisa-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "MonoLisa";
	font-weight: 700;
	src: url("../fonts/MonoLisa-Bold.ttf") format('truetype');
}



@layer components {
    svg {
        fill: #999999;
    }

    svg:hover {
        fill: #E4E4E4;
    }

    .highlightText {
        color: #E4E4E4;
        text-decoration: underline;
        text-underline-offset: 4px;
        
    }

}

@media only screen and (max-width: 600px) {
    .projectDescriptionContainer {
        flex-wrap: wrap
    }
  }