---
import Layout from "../layouts/Base.astro";
import Icons from "../components/Icons.astro";

const url = new URL(Astro.request.url);
---

<Layout title="Welcome Page">
  <section>
    <span
      class="tracking-[0.005erm] leading-[144%] text-[34px] sm:text-[38px] md:text-[48px] lg:text-[58px] text-titleColor font-bold"
    >
      Product manager developing businesses and creating his own.
    </span>
    <div class="mt-[63px]">
      <p class="leading-[228%] mb-[40px] font-bold text-[16px] sm:text-[18px]">
        I’m Mike, Product Manager and former developer with <span
          class="highlightText">5+ years of experience in IT</span
        >. I’m focusing on <span class="highlightText">developing startups</span
        > and <span class="highlightText">consulting</span>
        small teams about on processes.
      </p>
      <p class="leading-[228%] font-bold text-[16px] sm:text-[18px]">
        Right now I’m working in <span class="highlightText">Mine’d</span> startup
        as a Product Manager of cusomer mobile web app and also as a management consultant
        in Web3 dapp - <span class="highlightText">zkBob</span>. Before that, I
        worked in Canadian q-commerce startup <span class="highlightText"
          >Tiggy</span
        > and in AI-based style transfer <span class="highlightText"
          >Prisma app</span
        >. Moreover, I launched my own products: <span class="highlightText"
          >B2C mobile app</span
        > and <span class="highlightText">B2B financial SaaS platform</span>.
      </p>
    </div>
    <div class="flex gap-[36px] mt-[63px]">
      <Icons />
      <a href="/projects" aria-current={url.pathname === "/" ? "page" : false}>
        <button class="projectsBtnContainer px-5 py-2.5">
          <div class="text-[14px] font-bold">Projects →</div>
        </button>
      </a>
    </div>
  </section>
</Layout>
