<div class="iconsContainer items-center">
  <!-- Git -->
  <a
    href="https://github.com/maikReal"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
    class="fillIcons"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M15.9985 0C7.16437 0 0 7.34467 0 16.4054C0 23.6534 4.58406 29.8017 10.942 31.9709C11.7425 32.122 12.0343 31.6154 12.0343 31.1804C12.0343 30.7916 12.0205 29.7594 12.0126 28.3907C7.56217 29.3817 6.62316 26.1913 6.62316 26.1913C5.89533 24.2959 4.84631 23.7914 4.84631 23.7914C3.3936 22.7742 4.95632 22.7944 4.95632 22.7944C6.56226 22.9102 7.40698 24.4853 7.40698 24.4853C8.83416 26.9919 11.1522 26.2678 12.0637 25.8478C12.2091 24.7884 12.6226 24.0653 13.0793 23.6554C9.52663 23.2415 5.79122 21.8336 5.79122 15.5474C5.79122 13.7568 6.41493 12.2915 7.43841 11.1454C7.2734 10.7305 6.72433 9.06175 7.59557 6.80387C7.59557 6.80387 8.93827 6.36276 11.995 8.4857C13.2709 8.12114 14.6401 7.93986 16.0005 7.93281C17.3599 7.93986 18.7281 8.12114 20.006 8.4857C23.0607 6.36276 24.4015 6.80387 24.4015 6.80387C25.2747 9.06175 24.7256 10.7305 24.5616 11.1454C25.587 12.2915 26.2058 13.7568 26.2058 15.5474C26.2058 21.8497 22.4645 23.2365 18.901 23.6423C19.4746 24.1489 19.9864 25.1499 19.9864 26.6807C19.9864 28.8731 19.9667 30.6426 19.9667 31.1804C19.9667 31.6195 20.2555 32.13 21.0668 31.9699C27.4199 29.7956 32 23.6514 32 16.4054C32 7.34467 24.8356 0 15.9985 0Z"
        ></path>
    </svg>
  </a>

  <!-- Twitter -->
  <a
    href="https://twitter.com/mike_krupin"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
    class="fillIcons"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16 0C7.16495 0 0 7.16495 0 16C0 24.835 7.16495 32 16 32C24.835 32 32 24.835 32 16C32 7.16495 24.835 0 16 0ZM23.6891 12.061C23.6998 12.2286 23.6998 12.4038 23.6998 12.576C23.6998 17.8194 19.7074 23.8583 12.4099 23.8583C10.1592 23.8583 8.07467 23.2046 6.31771 22.08C6.63924 22.115 6.94705 22.1303 7.27467 22.1303C9.13219 22.1303 10.8389 21.501 12.1996 20.4373C10.4564 20.4023 8.992 19.2594 8.49219 17.6869C9.10324 17.7768 9.65333 17.7768 10.2811 17.6152C9.3836 17.4329 8.57686 16.9455 7.99796 16.2358C7.41907 15.526 7.10374 14.6378 7.10552 13.7219V13.6716C7.63124 13.9688 8.24838 14.1501 8.89448 14.1745C8.35106 13.8122 7.90542 13.3214 7.59708 12.7457C7.28875 12.1699 7.12723 11.527 7.12686 10.8739C7.12686 10.1349 7.32038 9.45981 7.66629 8.87314C8.66232 10.0993 9.90524 11.1022 11.3142 11.8165C12.7232 12.5309 14.2668 12.9407 15.8446 13.0194C15.2853 10.3253 17.2998 8.14324 19.7211 8.14324C20.864 8.14324 21.8926 8.62171 22.6179 9.39276C23.5139 9.22514 24.3718 8.88991 25.1352 8.43886C24.8381 9.35619 24.2179 10.1318 23.392 10.621C24.192 10.5356 24.963 10.3131 25.6777 10.0038C25.1383 10.7962 24.4632 11.5002 23.6891 12.061V12.061Z"
        ></path>
    </svg>
  </a>

  <!-- LinkedIn -->
  <a
    href="https://www.linkedin.com/in/mike-krupin/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
    class="fillIcons"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16 0C7.16389 0 0 7.16389 0 16C0 24.8361 7.16389 32 16 32C24.8361 32 32 24.8361 32 16C32 7.16389 24.8361 0 16 0ZM12.0833 22.6319H8.84306V12.2056H12.0833V22.6319ZM10.4431 10.925C9.41944 10.925 8.75833 10.2 8.75833 9.30278C8.75833 8.3875 9.44028 7.68472 10.4847 7.68472C11.5292 7.68472 12.1694 8.3875 12.1903 9.30278C12.1903 10.2 11.5306 10.925 10.4431 10.925ZM23.9167 22.6319H20.6764V16.8542C20.6764 15.5097 20.2069 14.5958 19.0347 14.5958C18.1403 14.5958 17.6083 15.2139 17.3736 15.8097C17.2875 16.0208 17.2653 16.3208 17.2653 16.6194V22.6306H14.0236V15.5306C14.0236 14.2292 13.9819 13.1403 13.9389 12.2042H16.7542L16.9028 13.6528H16.9681C17.3944 12.9722 18.4403 11.9694 20.1875 11.9694C22.3194 11.9694 23.9181 13.3972 23.9181 16.4681V22.6333L23.9167 22.6319Z"
        ></path>
    </svg>
  </a>

  <!-- Email -->
  <a href="mailto:krupin.mihailw@gmail.com">
    <svg
    class="fillIcons"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16 0C7.16389 0 0 7.16389 0 16C0 24.8361 7.16389 32 16 32C24.8361 32 32 24.8361 32 16C32 7.16389 24.8361 0 16 0ZM9.71806 11H22.2514C22.9167 11 22.5736 11.8528 22.2111 12.0722C21.85 12.2889 16.8444 15.3167 16.6556 15.4292C16.4667 15.5417 16.2278 15.5958 15.9833 15.5958C15.7494 15.6005 15.5184 15.543 15.3139 15.4292L9.75833 12.0722C9.39722 11.8528 9.05556 11 9.71806 11ZM22.6667 20.1667C22.6667 20.5167 22.2472 21 21.9264 21H10.0736C9.75278 21 9.33333 20.5167 9.33333 20.1667V14.0889C9.33333 13.9361 9.33056 13.7375 9.61944 13.9056L15.3139 17.2639C15.5147 17.3866 15.7484 17.4448 15.9833 17.4306C16.2264 17.4306 16.4028 17.4125 16.6556 17.2639L22.3792 13.9069C22.6694 13.7375 22.6653 13.9375 22.6653 14.0903V20.1667H22.6667Z"
        ></path>
    </svg>
  </a>
</div>
